@import url(//db.onlinewebfonts.com/c/b037ae3de5e0396b987717092779f745?family=D+Day+Stencil);

@font-face {
  font-family: 'D Day Stencil';
  src: url('../fonts/b037ae3de5e0396b987717092779f745.eot'); /* IE9*/
  src: url('../fonts/b037ae3de5e0396b987717092779f745.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/b037ae3de5e0396b987717092779f745.woff2')
      format('woff2'),
    /* chrome、firefox */ url('../fonts/b037ae3de5e0396b987717092779f745.woff')
      format('woff'),
    /* chrome、firefox */ url('../fonts/b037ae3de5e0396b987717092779f745.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('../fonts/b037ae3de5e0396b987717092779f745.svg#D Day Stencil')
      format('svg'); /* iOS 4.1- */
}

.text-horror {
  font-family: 'D Day Stencil';
}

@import url(//db.onlinewebfonts.com/c/cced4e510c3db5d90f32c0732eddaf8a?family=Futura);

@font-face {
  font-family: 'Futura';
  src: url('../fonts/cced4e510c3db5d90f32c0732eddaf8a.eot'); /* IE9*/
  src: url('../fonts/cced4e510c3db5d90f32c0732eddaf8a.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/cced4e510c3db5d90f32c0732eddaf8a.woff2')
      format('woff2'),
    /* chrome、firefox */ url('../fonts/cced4e510c3db5d90f32c0732eddaf8a.woff')
      format('woff'),
    /* chrome、firefox */ url('../fonts/cced4e510c3db5d90f32c0732eddaf8a.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('../fonts/cced4e510c3db5d90f32c0732eddaf8a.svg#Futura') format('svg'); /* iOS 4.1- */
}

.text-scifi {
  font-family: 'Futura';
}

@import url(//db.onlinewebfonts.com/c/24b2eac64e0cb26cc8851d7fdf940b88?family=Goudy+Mediaeval);
@font-face {
  font-family: 'Goudy Mediaeval Regular';
  src: url('../fonts/24b2eac64e0cb26cc8851d7fdf940b88.eot'); /* IE9*/
  src: url('../fonts/24b2eac64e0cb26cc8851d7fdf940b88.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/24b2eac64e0cb26cc8851d7fdf940b88.woff2')
      format('woff2'),
    /* chrome、firefox */ url('../fonts/24b2eac64e0cb26cc8851d7fdf940b88.woff')
      format('woff'),
    /* chrome、firefox */ url('../fonts/24b2eac64e0cb26cc8851d7fdf940b88.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('../fonts/24b2eac64e0cb26cc8851d7fdf940b88.svg#Goudy Mediaeval Regular')
      format('svg'); /* iOS 4.1- */
}

.text-fantasy {
  font-family: 'Goudy Mediaeval Regular';
}
